h1 {
  color: antiquewhite;
}

.first-button {
  box-shadow: 0px 10px 14px -7px #CFDBD5;
  background: -webkit-linear-gradient(left top, yellow, red);
  background: linear-gradient(to bottom right, yellow, red);
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #242423;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 27px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #333533;
}
.first-button:hover {
  background: -webkit-linear-gradient(left top, red, yellow);
  background: linear-gradient(to bottom right, red, yellow);
}
.first-button:active {
  position: relative;
  top: 1px;
}
