nav {
  display: flex;
  width: 98.9%;
  padding: 0.6rem;
  /* background-color: #242423; */
  background-color: #242423ab;
  border-bottom: solid 1px #333533;
  justify-content: space-between;
}

.nav-h1 {
  margin: 0 0 0 1.5rem;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(left top, red, red);
  background: linear-gradient(to bottom right, yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-btn {
  width: 5rem;
  margin-right: 0.4rem;
  background: -webkit-linear-gradient(left top, red, red);
  background: linear-gradient(to bottom right, yellow, red);
  border: none;
  cursor: pointer;
}
