.create {
  overflow-x: hidden !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 0.5rem 0;
}

.create-h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2.49rem;
  background: -webkit-linear-gradient(left top, yellow, red);
  background: linear-gradient(to bottom right, yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.create-form {
  background-color: rgba(255, 255, 255, 0.350);
  border-radius: 2rem;
  border: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
  width: 65%;
  backdrop-filter: blur(3px) brightness(50%);
}

.create-div-top {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  margin-left: 7rem;
  margin-right: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.create-div-top-rigth {
  margin-left: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.create-div-top-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.create-div-top-left > input {
  height: 80%;
  border-radius: 8px;
}

.create-div-low {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 7rem;
  margin-right: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.create-div-top > input {
  border-radius: 8px;
}

.create-div-top-rigth > input {
  border-radius: 5px;
  margin-bottom: 1rem;
}

.create-div-low > textarea {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.btn-create {
  margin: 1rem 1rem 0rem 1rem;
  font-size: 1.2rem;
  width: 50%;
  padding: 0.4rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-create:active{
  margin-top: calc(2rem + 1px);
}

.create-ul {
  padding-inline-start: 2rem;
}

.create-ul > li{
  width: 80%;
}

.p-danger {
  color: red;
  /* -webkit-text-stroke: 1px brown; */
  font-size: 1rem;
  margin-top: 0;
}

.input-danger {
  border: 2px solid red;
  margin-bottom: 1px !important;
}

.btn-back {
  position: absolute;
  left: 2%;
  font-size: 2rem;
  padding: 0 1rem 0 1rem;
  background: -webkit-linear-gradient(left top, yellow, red);
  background: linear-gradient(to bottom right, yellow, red);
  backdrop-filter: blur(3px) brightness(30%);

  color: rgba(255, 255, 255, 0.9);

  border: none;

  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );

  cursor: pointer;
}