.recipes-div {
  /* background-color: #242423; */
  background-color: #242423ab;
  border: solid 1px #333533;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1%;
  margin: 0 0 0 0;
  flex-wrap: wrap;
  width: 98%;
  height: 93%;
}

.cards {
  width: 22%;
  height: 26.3vh;
  margin: 0.5% 5.5% 0.5% 5.5%;

  background-color: #333533;
  border: solid 1px 242423ab;
  border-radius: 5%;
}

.paginado {
  width: 100%;
}

.paginado-btn {
  background-color: rgb(160, 159, 159);

  border: 1px solid rgb(122, 122, 122);
  border-radius: 50%;

  font-size: 100%;

  margin: 0.5rem 0.3rem 0% 0.3rem;
}

.paginado :hover {
  background-color: white;
}
