.Filter-div {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 50vh;
}

.filter-select {
  background-color: #333533;

  font-size: 1rem;
  color: #ff9c2b;

  width: 80%;

  padding: 0.5rem;
  margin-top: 1.5%;
}
