.Filter-div {
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.filter-select {
  width: 15rem;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 1.5%;
  background-color: #333533;
  color: #ff9c2b;
}

.filter-btn {
  width: 15rem;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 10%;
  background-color: #333533;
  color: #ff9c2b;
  cursor: pointer;
}

.filter-btn:hover {
  background: -webkit-linear-gradient(left top, yellow, red);
  background: linear-gradient(to bottom right, rgb(170, 170, 0), rgb(170, 0, 0));
  -webkit-box-shadow: 0px 0px 20px 10px #6d4517ce;
  box-shadow: 0px 0px 20px 10px #6d4517ce;

  border: solid 2px #333533;
}

.filter-btn:focus{
  color: #333533;
  background: -webkit-linear-gradient(left top, yellow, red);
  background: linear-gradient(to bottom right, yellow, red);
  -webkit-box-shadow: 0px 0px 30px 10px #ff9c2bce;
  box-shadow: 0px 0px 30px 10px #ff9c2bce;

  border: solid 2px #333533;
}
