.recipe-link {
  text-decoration: none;
}

.recipe-img {
  border-bottom: solid 1px black;
  border-radius: 5% 5% 0 0;
  
  width: 100%;
}

.recipe-title {
  text-align: center;
  color: #ff9c2b;
  font-size: 1rem;
  
  text-overflow: ellipsis;

  width: 94%;
  height: 1.3rem;
  margin: 0 0 4% 0;
  padding: 1% 3% 2% 3%;
  
  overflow: hidden;
  white-space: nowrap;
}

.recipe-low {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;

  color: #ff9c2b;
}

.recipe-diets {
  text-align: center;
  border-top: 1px solid #242423ab;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  width: 100%;
  height: 5vh;

  padding: 3.5% 2.5% 0 2.5%;
}